<p id="notice"><%= notice %></p>

<p>
  <strong>File1:</strong>
  <%= @template.file1 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @template.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @template.user_id %>
</p>

<p>
  <strong>Encode code:</strong>
  <%= @template.encode_code %>
</p>

<p>
  <strong>Current assignment:</strong>
  <%= @template.current_assignment_id %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @template.assignment_id %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
